@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.project {
  display: flex;
  justify-content: space-between;
  padding: 119px 0 71px;

  h2 {
    position: relative;
    margin-bottom: 45px;
    padding-bottom: 90px;
    width: 100%;
    max-width: 332px;
    font-size: 32px;

    &::before {
      content: "";
      position: absolute;
      top: 159px;
      width: 108px;
      height: 8px;
      background-color: var(--color-green-200);
    }
  }

  p {
    max-width: 525px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    img {
      margin-bottom: 36px;
    }

    &--title {
      margin-right: 20px;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
    padding: 113px 0 101px;

    h2 {
      position: relative;
      margin-bottom: 45px;
      padding-bottom: 130px;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 160px;
        width: 108px;
        height: 8px;
        background-color: var(--color-green-200);
      }
    }

    .project__content--title {
      align-items: flex-end;
      margin-right: 0;

      img {
        margin-bottom: 0;
      }
    }
  }

  @include media(tablet) {
    padding: 30px 0;
  }

  @include media(mobile-l) {
    flex-direction: column;

    h2 {
      margin-bottom: 10px;
      padding-bottom: 40px;

      &::before {
        top: 90px;
      }
    }

    &__content {
      max-width: 100%;

      img {
        width: 100%;
        aspect-ratio: 16 / 7;
      }

      &--title {
        margin-right: 0;
      }
    }

    &--reverse {
      .project__content--title {
        img {
          margin-bottom: 30px;
        }
      }

      h2 {
        &::before {
          top: 50px;
        }
      }
    }
  }
}